.DS_Store
/OperacionesEnPostFija/nbproject/private/
/OperacionesEnPostFija/build/
/ParseadorInfijaPostfija/build/
/ParseadorInfijaPostfija/nbproject/private/
/ParseadorInfijaPostfija/dist/
/EstudiantesWithLinkedList/nbproject/private/
/EstudiantesWithLinkedList/build/